.profile-page {
  margin: 88px 0;
  max-width: 60%;
  width: 100%;
}

.profile-page .profile-header {
  display: flex;
  justify-content: space-between;
}

.profile-page .profile-header .profile-header-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-page .profile-header .profile-header-right {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.profile-page .profile-header-top {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.profile-page .profile-buttons {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.profile-page .profile-buttons button:not(:first-child) {
  background: #fafafa;
  border: none;
  cursor: pointer;
}

.profile-page .profile-header .profile-page-username {
  font-size: 28px;
}

.profile-page .profile-header-middle {
  display: flex;
  column-gap: 40px;
  margin: 24px 0 20px 0;
}

.profile-page .profile-header-middle > div {
  display: flex;
  column-gap: 4px;
}

.profile-page .head-right-bottom {
  display: flex;
  flex-direction: column;
}

.profile-body {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
}

.profile-body .profile-nav-tabs {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-around;
}

.profile-body .profile-nav-tabs > button {
  background: #fafafa;
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: 2px;
  column-gap: 8px;
  position: relative;
  border: none;
  cursor: pointer;
}

.profile-body .profile-nav-tabs > button.active:after {
  content: "";
  background-color: #000;
  width: 100%;
  height: 1px;
  position: absolute;
  top: -10px;
}

.profile-body .profile-post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.profile-body .profile-post-grid .post-grid-item {
  width: 200px;
  position: relative;
}

.profile-body .profile-post-grid .post-grid-item img {
  height: 200px;
}

.profile-body .profile-post-grid .post-grid-item .icon-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 38%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.profile-body .profile-post-grid .post-grid-item:hover .icon-wrapper {
  opacity: 1;
  background-color: black;
  border-radius: 5px;
}

.profile-post-grid .like-icon {
  color: red;
}
.profile-post-grid .delete-icon {
  color: red;
  cursor: pointer;
}

.profile-post-grid b {
  color: #fff;
  font-size: 20px;
}

@media (max-width: 600px) {
  .profile-page {
    max-width: 100%;
  }
  .profile-page .profile-header {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .profile-page .profile-header .profile-page-username {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .profile-page .profile-header .profile-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .profile-page .profile-header-middle {
    margin: 1rem 0;
  }
  .profile-page .profile-header-top {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
  }
  .head-right-center {
    justify-content: center;
  }

  .head-right-bottom {
    text-align: center;
  }

  .profile-nav-tabs {
    justify-content: center !important;
    column-gap: 10px;
  }

  .profile-body .profile-post-grid {
    padding: 1rem;
  }
  .profile-body .profile-post-grid .post-grid-item {
    width: 100%;
  }
  .profile-body .profile-post-grid .post-grid-item img {
    width: 100%;
    height: 100px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .profile-page {
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
}
